{% extends "layout.html" %}


{% block body %}

<h3>About Us</h3>
<hr>

<p>
   Hello there, We are the final year students of SVCET . Developer and Manager of this Blog this blog is  created for all the student and teachers of SVCET  to share their view and Knowledge to all other people of this college.
   If you want to Share your view and opinion in large group and enlight your knowledge from large number of people this must join this blog . Keep Posting and Reading . Thanks :)      
</p>
{% endblock body %}
